{{ partial "header.html" . }}

<main>
    <div class="article-meta">
        <h1><span class="title">{{ .Title | markdownify }}</span></h1>
        {{ if (gt .Params.date 0) }}<h3 class="date">{{ .Date.Format "2006/01/02" }}</h3>{{ end }}
    </div>

    {{ .Content }}
</main>

<div class="blog-nav">
    <div>
        {{ if .PrevInSection }}
        <a href="{{.PrevInSection.Permalink}}">Previous: {{.PrevInSection.Name}} </a>
        {{ end }}
    </div>
    <div>
        {{ if .NextInSection }}
        <a href="{{.NextInSection.Permalink}}">Next: {{.NextInSection.Name}}</a>
        {{ end }}
    </div>
</div>  

{{ partial "footer.html" . }}